@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
/* 'Noto Sans KR', sans-serif */

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid darkgray; */
    box-sizing: border-box;
    text-decoration: none;
}
:root {
    font-family: 'Noto Sans KR', sans-serif;
    background: #000;
    color: #fff;
}
li{
    list-style: none;
}
a{
    color: #fff;
    display: block;
}
a:visited{
    color: #fff;
}
.part0{
    height: 15vh;
}
.h_t{
    display: flex;
    justify-content: right;
    margin-right: 8%;
    margin-top: 2%;
}
.h_t p{
    margin: 0 10px;
    font-size: 12px;
}
.top{
    display: flex;
    margin: 0 10%;
}
.top .nav{
    display: flex;
    justify-content: space-around;
    width: 55%;
}
.top img{
    width: 150px;
    height: 50px;
    margin-right: 5%;
}
.top .nav .n_top{
    font-size: 20px;
    text-align: center;
    /* margin-right: 5%; */
}
.top .nav .submenu{
    display: none;
}
.top .nav > div{
    display: flex;
} 
/* part 1 banner */
.part1{
    height: 85vh;
    padding: 0vh 20vh;
    border-bottom: 1px solid #b4151b;
    position: relative;
}
.part1 .banner1{
    height: 45vh;
    width: 75%;
    margin-bottom: 5vh;
}
.part1 .swiper-pagination{
    position: absolute;
    top: 25%;
    height: 100px;
    right: 18%;
}

.part1 .swiper-pagination-bullet { 
    width: 12px; 
    height: 12px; 
    background: transparent; 
    border: 1px solid #fff; 
    opacity: 1; 
}
.part1 .swiper-pagination-bullet-active { 
    height: 25px; 
    transition: height .5s; 
    border-radius: 5px; 
    background: #b4151b; 
    border: 1px solid transparent; 
}

.part1 .bs1{
    background: url(../images/b1.jpeg) no-repeat;
    background-size: 100% auto;
    background-position: center;
}
.part1 .bs2{
    background: url(../images/b2.jpeg) no-repeat;
    background-size: 100% auto;
    background-position: center;
}
.part1 .bs3{
    background: url(../images/b3.jpeg) no-repeat;
    background-size: 100% auto;
    background-position: center;
}
.part1 .bs4{
    background: url(../images/b4.jpeg) no-repeat;
    background-size: 100% auto;
    background-position: center;
}
.part1 .p1_bu{
    display: flex;
    justify-content: space-between;
}
.part1 .p1_bu h1{
    font-size: 15px;
    word-break: keep-all;
    margin: 10% 5%;
    text-align: center;
}
.part1 .p1_bu .on h1{
    margin: 5% 0;
}
.part1 .p1_bu p{
    font-size: 12px;
    /* word-break: keep-all; */
    text-align: center;
    padding: 10% 5%;
}
.part1 .p1_bu .p1_1 h1{
    text-align: left;
    padding: 0 5%;
}

.part1 .p1{
    position: relative;
}
.part1 .p1_bu .p1:after{
    content: "";
    bottom: 5%;
    right: 5%;
    position: absolute;
    background: url(../images/right.png) no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}
.part1 .p1_bu .p1_1{
    /* background-color: #6a2225; */
    background-color: #5a0a0d;
    width: 20%;
    height: 20vh;
}
.part1 .p1_bu .p1_1.on{
    width: 30%;
    height: 20vh;
    background: url(../images/p1_1.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.part1 .p1_bu .p1_2{
    width: 20%;
    height: 20vh;
    /* background: #5a0a0d; */
    background: #51090b;
}
.part1 .p1_bu .p1_2.on{
    width: 30%;
    height: 20vh;
    background: url(../images/p1_2.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.part1 .p1_bu .p1_3{
    width: 20%;
    height: 20vh;
    /* background: #48080a; */
    background: #48080a;
}
.part1 .p1_bu .p1_3.on{
    width: 30%;
    height: 20vh;
    background: url(../images/p1_3.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.part1 .p1_bu .p1_4{
    width: 20%;
    height: 20vh;
    /* background: #360608; */
    background: #3e0709;
}
.part1 .p1_bu .p1_4.on{
    width: 30%;
    height: 20vh;
    background: url(../images/p1_4.png) no-repeat;
    background-size: cover;
    background-position: center;
}
/* part2 */

.part2{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding: 3% 10%;
    text-align: center;
    position: relative;
}
.part2::after{
    content: "";
    position: absolute;
    right: 0%;
    bottom: 2%;
    width: 100%;
    height: 1px;
    background: #b4151b;
    transform: rotate(-5deg);
}
.part2 .p2_l{
    width: 55%;
}
.part2 .p2_l h1{
    font-weight: 300;
    font-size: 50px;
    margin: 10% 0 7% 0;
}
.part2 .p2_l h1 span{
    font-weight: 700;
}
.part2 .p2_l h2{
    margin: 5% 0;
    font-weight: 500;
    font-size: 25px;
}
.part2 .p2_l p{
    margin:5% 20%    10% 20%;
    font-size: 17px;
    word-break: keep-all;
}
.part2 .slide_p2{
    position: relative;
    padding: 0 5%;
}
.part2 .slide_p2 .eos .hd{
    font-size: 15px;
    font-weight: bold;
    margin: 5% 0;
}
.part2 .slide_p2 .eos .info{
    font-size: 12px;
    margin: 0;
}
.part2 .slide_p2 .eos .eos1 .eos1_i{
    background: url(../images/eos1.jpeg) no-repeat;
    background-size: 110% auto;
    background-position: -5px -3px;
    height: 115px;
    border: 1px solid rgb(80, 80, 80);
}
.part2 .slide_p2 .eos .eos2 .eos1_i{
    background: url(../images/eos2.jpeg) no-repeat;
    background-size: 110% auto;
    background-position: -9px -3px;
    height: 115px;
    border: 1px solid rgb(80, 80, 80);
}
.part2 .slide_p2 .eos .eos3 .eos1_i{
    background: url(../images/eos3.jpeg) no-repeat;
    background-size: 110% auto;
    background-position: -8px -3px;
    height: 115px;
    border: 1px solid rgb(80, 80, 80);
}
.part2 .slide_p2 .eos .eos4 .eos1_i{
    background: url(../images/eos4.jpeg) no-repeat;
    background-size: 110% auto;
    background-position: -15px -3px;
    height: 115px;
    border: 1px solid rgb(80, 80, 80);
}
.part2 .slide_p2 .eos .eos5 .eos1_i{
    background: url(../images/eos5.jpeg) no-repeat;
    background-size: 110% auto;
    background-position: 2px -3px;
    height: 115px;
    border: 1px solid rgb(80, 80, 80);
}
.part2 .slide_p2 .eos .eos6 .eos1_i{
    background: url(../images/eos6.jpeg) no-repeat;
    background-size: 110% auto;
    background-position: -5px -3px;
    height: 115px;
    border: 1px solid rgb(80, 80, 80);
}
.part2 .slide_p2 .eos .eos7 .eos1_i{
    background: url(../images/eos7.jpeg) no-repeat;
    background-size: 110% auto;
    background-position: -7px -2px;
    height: 115px;
    border: 1px solid rgb(80, 80, 80);
}
.part2 .slide_p2 .eos .eos8 .eos1_i{
    background: url(../images/eos8.jpeg) no-repeat;
    background-size: 110% auto;
    background-position: -10px -3px;
    height: 115px;
    border: 1px solid rgb(80, 80, 80);
}
.part2 .slide_p2  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 0%;
    left: auto;
}
.part2 .slide_p2 .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 0%;
    right: auto;
}
.part2 .slide_p2 .swiper-button-next, .part2 .slide_p2 .swiper-button-prev {
    position: absolute;
    top: 25%;
    color: #fff;
}
.part2 .slide_p2 .swiper-button-next:after,.part2 .slide_p2 .swiper-button-prev:after{
    font-size: 25px;
}
.part2 .p2_r{
    width: 40%;
}
.part2 .p2_r .R5{
    background: url(../images/img1_01.jpg) no-repeat;
    background-size: 100% auto;
    background-position: center;
    /* width: 100%; */
    height: 55%;
    margin-top: 35%;
}
.part2 .p2_r a{
    /* background: #b4151b; */
    background: linear-gradient(45deg, transparent 15px, #b4151b 0);
    padding: 2%;
    /* width: 80%; */
    margin:5% 10%;
    position: relative;
}
.part2 .p2_r a::after{
    content: "";
    position: absolute;
    top: 6px;
    right: 0px;
    background: url(../images/next_w.svg) no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 35px;
    height: 35px;
}

/* part3 */
.part3{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    text-align: center;
    position: relative;
    padding: 0 10%;
    margin-bottom: 5%;
    margin-top: 7%;
}
.part3::after{
    content: "";
    position: absolute;
    bottom: -9%;
    right: 0;
    background: url(../images/p3_b.png) no-repeat;
    background-size: 100% auto;
    background-position: 0 0;
    width: 100%;
    height: 200px;
}
.part3 .p3_l{
    width: 40%;
}
.part3 .p3_l .F2{
    background: url(../images/e_l.jpeg) no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 100% ;
    height: 750px;
}
.part3 .p3_r{
    width: 55%;
}
.part3 .p3_r .r_t{
    margin: 15% 0 2%;
    font-size: 18px;
}
.part3 .p3_r p{
    font-weight: 300;
}
.part3 .p3_r h1{
    font-weight: 700;
    font-size: 40px;
}
.part3 .p3_r h2{
    font-size: 24px;
    font-weight: 600;
    margin: 10% 0 6% 0;
}
.part3 .p3_r > p{
    font-size: 15px;
    word-break: keep-all;
    margin-bottom: 10%;
}
.part3 .p3_r .p3{
    display: flex;
    justify-content: space-around;
    word-break: keep-all;
}
.part3 .p3_r .p3 > div{
    width: 30%;
    position: relative;
}
.part3 .p3_r .p3 > div ::after{
    content: "";
    width: 1px;
    height: 90%;
    position: absolute;
    top: 3%;
    right: -6%;
    background: #fff;
}
.part3 .p3_r .p3 > div:last-child ::after{
    display: none;
}
.part3 .p3_r .p3 > div .title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 7%;
}
.part3 .p3_r .p3 > div .info{
    font-size: 14px;
    font-weight: 300;

}
/* part4 */
.part4{
    display: flex;
    justify-content: space-around;
   padding: 5% 20%;
    /* height: 400px; */
    background: #1f1e1e;
}
.part4 > div{
    width: 20%;
    height: 200px;
}
.part4 .img1{
    background: url(../images/camera.png) no-repeat;
    background-size: 100% auto;
    background-position: center;
    height: 70px;
    width: 40%;
    margin: 0 30%;
}
.part4 >div:nth-child(1):hover .img1{
    background: url(../images/camera_on.png) no-repeat;
    background-size: 100% auto;
    background-position: center;
    height: 70px;
    width: 40%;
    margin: 0 30%;
    transform: translateY(-20px);
}
.part4 .img2{
    background: url(../images/touch.png) no-repeat;
    background-size: 65% auto;
    background-position: center;
    height: 70px;
    width: 40%;
    margin: 0 30%;
}
.part4 >div:nth-child(2):hover .img2{
    background: url(../images/touch_on.png) no-repeat;
    background-size: 65% auto;
    background-position: center;
    height: 70px;
    width: 40%;
    margin: 0 30%;
    transform: translateY(-20px);
}
.part4 .img3{
    background: url(../images/map.png) no-repeat;
    background-size: 100% auto;
    background-position: center;
    height: 70px;
    width: 40%;
    margin: 0 30%;
}
.part4 >div:nth-child(3):hover .img3{
    background: url(../images/map_on.png) no-repeat;
    background-size: 100% auto;
    background-position: center;
    height: 70px;
    width: 40%;
    margin: 0 30%;
    transform: translateY(-20px);
}
.part4 .img4{
    background: url(../images/call_center.png) no-repeat;
    background-size: 100% auto;
    background-position: center;
    height: 70px;
    width: 40%;
    margin: 0 30%;
}
.part4 >div:nth-child(4):hover .img4{
    background: url(../images/call_center_on.png) no-repeat;
    background-size: 100% auto;
    background-position: center;
    height: 70px;
    width: 40%;
    margin: 0 30%;
    transform: translateY(-20px);
}
.part4 div:nth-child(1):hover .p4t,
.part4 div:nth-child(2):hover .p4t,
.part4 div:nth-child(3):hover .p4t,
.part4 div:nth-child(4):hover .p4t,
.part4 div:nth-child(1):hover .p4i,
.part4 div:nth-child(2):hover .p4i,
.part4 div:nth-child(3):hover .p4i,
.part4 div:nth-child(4):hover .p4i
{
    color: #b4151b;
    transform: translateY(-20px);
}
.part4 .p4t{
    margin: 15% 0 10%;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}
.part4 .p4i{
    text-align: center;
    font-size: 13px;
    word-break: keep-all;
    padding: 0 5%;
}

/* part5 */
.part5{
    height: 100vh;
    padding: 5vh;
    background: #191919;
    border-bottom: 1px solid #b4151b;
}
.part5 span{
    color: #b4151b;
}
.part5 h3{
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 5%;
}
.part5 .p5{
    margin: 5vh;
    height: 80vh;
}
.part5 .p5 .p5_t{
    width: 100%;
    height: 40vh;
    /* height: 300px; */
    display: flex;
    justify-content: center;
    margin: 0 2%;
}
.part5 .p5 .p5_t> div{
    width: 38%;
    height: 30vh;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.part5 .p5 .p5_t> div > a{
    margin: 12% 6%;
    padding: 2%;
    width: 35%;
    border: 1px solid #b4151b;
    position: relative;
    font-size: 12px;
}

.part5 .p5 .p5_t> .camera > a::after,
.part5 .p5 .p5_t> .camcorder > a::after{
    content: "";
    position: absolute;
    right: 0;
    top: 20%;
    background: url(../images/next_w.svg) no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 25px;
    height: 25px;

}
.part5 .p5 .p5_t > .camera{
    background: url(../images/r5_1.png) no-repeat;
    background-size: cover;
    background-position: 110% 0;
    position: relative;
}
.part5 .p5 .p5_t > .camera ::after{
    content: "";
    width: 55%;
    height: 250px;
    position: absolute;
    bottom: 5%;
    right: -2%;
    background: url(../images/e_ca.png) no-repeat;
    background-size: 100% auto;
    background-position: center;
    z-index: 5;
}
.part5 .p5 .p5_t > .camcorder{
    background: url(../images/r5_2.png) no-repeat;
    background-size: cover;
    background-position: -5% 0;
    margin: 7vh 0 0;
    position: relative;
}
.part5 .p5 .p5_t > .camcorder::after{
    content: "";
    position: absolute;
    top: -30%;
    right: -25%;
    width: 55%;
    height: 250px;
    background: url(../images/e_c.png) no-repeat;
    background-size: 100% auto;
    background-position: center;
    z-index: 5;
}
.part5 .p5 .p5_t > .camcorder > h3{
    margin:10% 15%;
}
.part5 .p5 .p5_t > .camcorder > p{
    margin: 6% 25%;
}
.part5 .p5 .p5_b{
    width: 100%;
    height: 40vh;
    /* height: 300px; */
    display: flex;
    justify-content: center;
    margin: 0 -2%;
}
.part5 .p5 .p5_b> div{
    width: 38%;
    /* height: 300px; */
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.part5 .p5 .p5_b > div > a{
    margin: 5%;
    padding: 2%;
    width: 35%;
    border: 1px solid #b4151b;
    position: relative;
    font-size: 12px;
}
.part5 .p5 .p5_b> .lens > a::after,
.part5 .p5 .p5_b> .acc > a::after{
    content: "";
    position: absolute;
    right: 0;
    top: 20%;
    background: url(../images/next_w.svg) no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 25px;
    height: 25px;
}
.part5 .p5 .p5_b> .lens > h3{
    margin: 10% 0% 10% 30%;
}
.part5 .p5 .p5_b> .lens > a{
    margin: 6% 0 6% 30%;
}
.part5 .p5 .p5_b > .lens{
    background: url(../images/r5_4.png) no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: relative;
    /* margin: 5vh 0; */
}
.part5 .p5 .p5_b > .lens::after{
    content: "";
    position: absolute;
    bottom: -5%;
    left: -28%;
    background: url(../images/e_l.png) no-repeat;
    background-size: 72% auto;
    background-position: center;
    width: 55%;
    height: 300px;
    z-index: 5;
}
.part5 .p5 .p5_b > .acc{
    background: url(../images/r5_3.png) no-repeat;
    background-size: cover;
    background-position: 0 0;
    margin-top: 5vh;
    position: relative;
}
.part5 .p5 .p5_b > .acc::after{
    content: "";
    position: absolute;
    top: 3%;
    right: -25%;
    width: 52%;
    height: 300px;
    background: url(../images/e_a.png) no-repeat;
    background-size: 80% auto;
    background-position: center;
}
.part5 .p5 .p5_b> .acc> h3{
    margin: 10% 0% 10% 10%;
}
.part5 .p5 .p5_b> .acc > p{
    margin: 6% 0 6% 25%;
}
/* part6 */
.part6{
    padding: 2% 15% 5%;
    border-bottom: 1px solid #b4151b;
}
.part6 h4{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    padding: 5%;
}
.part6 .im_box{
    display: flex;
    justify-content: space-between;
    height: 800px;
}
.part6 .im_box .p6_l{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* .part6 .im_box .p6_l .p6_1{
    height: 43%;
    background: url(../images/p6_1.png) no-repeat;
    background-size:100% auto ;
} */
.part6 .im_box .p6_l .p6_1 img{
    width: 315px; 
    height: 350px;
}
/* .part6 .im_box .p6_l .p6_2{
    height: 55%;
    background: url(../images/p6_2.png) no-repeat;
    background-size:100% auto ;
} */
.part6 .im_box .p6_l .p6_2 img{
  width: 315px;
  height: 430px;
}
.part6 .im_box .p6_m{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
}
.part6 .im_box .p6_m .p6_3 img{
    width: 100%;
    height: auto;
}
.part6 .im_box .p6_m .p6_4 img{
    width: 100%;
    height: 290px;
}
.part6 .im_box .p6_m .p6_5 img{
    width: 100%;
    height: auto;
}
.part6 .im_box .p6_r{
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.part6 .im_box .p6_r .p6_6 img{
    width: 100%;
    height: 280px;
}
.part6 .im_box .p6_r .p6_7 img{
   width: 100%;
   height: 495px;
}
.part6 a{
    width: 20%;
    margin: 5% 40% 5% 38%;
    font-size: 20px;
    text-align: center;
    position: relative;
}
.part6 a:hover{
    animation: up-down 0.5s infinite ease-in-out alternate;
}
.part6 a::after{
    content: "";
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    position: absolute;
    background: url(../images/under.png)no-repeat;
    background-size: cover;
}
@keyframes up-down{
    from{
      transform: translatey(0px);
    }
    to{
      transform: translatey(-15px);
    }
  }

.part6 .gallery{
    display: none;
}
/* footer */
footer{
    margin: 6% 6% 2%;
}
footer > div:first-child{
    display: flex;
}
footer div p{
    font-size: 12px;
    margin-right:21px;
    position: relative;
    margin-bottom: 10px ;
}
footer  div:first-child p::after{
    content: "";
    width: 1px;
    height: 65%;
    position: absolute;
    top: 4px;
    right: -10px;
    background: #fff;
}
footer div:first-child p:last-child::after{
    display: none;
}