.is-ie .clearfix::after{
    content: "";
    clear: both;
    display: table;
}


.ie9 .header{
    display: block;
    flex-direction: unset;
    align-items: unset;
}

/* part1 */

.ie9 .part1 > div:last-child{
    display: block;
    justify-content: unset;
}
.ie9 .header > div:last-child p{
    margin-top: 0%;
    padding-top: 55%;
    padding-left: 20%;
}
.ie9 .part1 > div:last-child{
    display: block;
    justify-content: unset;
}

.ie9 .part1 .tab1 .conBox{
    display: block;
    flex-direction: unset;
}


.ie9 .part1 .tab1 .content .conBox{
    float: left;
}




.is-ie .header,.is-ie .part2,.is-ie .part3,.is-ie .part4, .is-ie .part5,
.is-ie .part6, .is-ie .part7, .is-ie footer{
    display: none;
}
.part2,.part3,.part4,.part5,.part6,.part7,footer{
    display: none;
}
.slick-vertical .part5.slick-slide{
    display: none;
}
