body{
    min-width: 320px;
}
html{
    font-size: 10px;
}
.menu_b{
    display: block;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 2rem;
}
/* nav */
header{
    position: relative;
    height: auto;
    padding: 3%;
}
.nav img:first-child {
    display: none;
}
.nav img:last-child {
    display: block;
    width: 50%;
}
.nav > ul{
    flex-direction: column;
    flex-basis: 100%;
    /* position: relative; */
}
.nav > ul> li{
    width: 100%;
}
.nav> ul > li> a:hover{
    color: unset;
}
.nav > ul> li >a{
    padding: 3% 0; 
    text-shadow: unset;
    color: #333;
    border-bottom: 1px solid #EEEDED;
}
.nav > ul >li > .submenu{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: unset;
}
.nav > ul >li >.submenu > li > a{
    padding: 3% ;
    text-align: center;
    border-bottom: 1px solid #fff;
}
.nav > ul > li > .submenu > li:hover > a{
    color: 	unset;
    background: #f2eceb;
}
.nav > ul > li > .submenu > li{
    background: #EAE0DE;
}
.nav > ul > li > .submenu > li > a{
    background: #f2eceb;
}
.nav > ul .sub2_t:before{
    top: 10%;
}
.nav > ul .sub2{
    position: relative;
    left: 0;
    width: 100%;
    box-shadow: unset;
}
.nav > ul .submenu .sub2 > li > a{
    padding: 2%;
    width: 100%;
    background: #fff;
    text-align: center;
}
.nav > ul .submenu .sub2 > li{
    background: #F6F6F6;
    border-bottom: 1px solid #EEEDED;
}
 .nav .menu_b{
    width: 30px;
    height: 20px;
    position: absolute;
    display: block;
    cursor: pointer;
    top: 3vh;
    right: 5%;
    z-index: 200;
}

.nav .menu_b span{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #333;
    border-radius: 4px;
    z-index: 100;
    transition: 0.3s;
    right: 0;
}
.nav.menu_b span:nth-child(1){
    top: 0;
}
.nav .menu_b span:nth-child(2){
    top: 50%;
}
.nav .menu_b span:nth-child(3){
    top: 100%;
}
.menu_b.on span:nth-child(1){
    top: 50%;
    transform: rotate(-45deg);
}
.menu_b.on span:nth-child(2){
    opacity: 0;
}
.menu_b.on span:nth-child(3){
    top: 50%;
    transform: rotate(45deg);
}
 .menu_b ~ ul{
    align-items: center;
    justify-content: unset ;
    padding-top: 15%;
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 80vh;
    background: #fff;
    transition: 0.3s;
}
.menu_b.on ~ ul{
    right: 0;
} 
.nav .menu_b + ul::before{
    content: "";
    background: rgb(0 0 0 / 25%);
    width: 20%;
    height: 80vh;
    position: fixed;
    top: 0;
    right: -20%;
    z-index: -1;
    transition: .3s;
}
.nav .menu_b.on + ul::before{
    content: "";
    background: rgb(0 0 0 / 25%);
    width: 20%;
    height: 80vh;
    position: fixed;
    top: 0;
    right: 80%;
    z-index: -1;
}
.nav .menu_b + ul::after{
    content: "";
    background: rgb(0 0 0 / 25%);
    width: 100%;
    height: 20vh;
    position: fixed;
    top: 80vh;
    right: -100%;
    z-index: -1;
    transition: .3s;
}
.nav .menu_b.on + ul::after{
    content: "";
    background: rgb(0 0 0 / 25%);
    width: 100%;
    height: 20vh;
    position: fixed;
    top: 80vh;
    right: 0;
    z-index: -1;
}
section:not(.part1) {
    padding: 10%;
}
/* part1 */
.part1{
    height: 35vh;
}
.part1 > div:first-child{
    top: 7vh;
    left: 5vh;
    display: flex;
    flex-direction: column-reverse;
}
.part1 h1{
    font-size: 3rem;
}
.part1 .main .swiper-slide:nth-child(1),
.part1 .main .swiper-slide:nth-child(2),
.part1 .main .swiper-slide:nth-child(3){
    background-size: cover;
}
/* part2 */
.part2{
    height: auto;
    flex-direction: column;
}
.part2 div:first-child{
    width: 100%;
    height: 25vh;
}
.part2 .text_box{
    width: 100%;
}
.part2 .text_box h2{
    text-align: center;
}
.part2 .text_box p:nth-of-type(1){
    display: none;
}
.part2 .text_box p:nth-of-type(2){
    display: block;
    word-break: keep-all;
    margin:5% 0;
}
.part2 .text_box a{
    font-size: 1rem;
    width: 50vw;
    padding:3% 0;
    margin: 0 16vw;
}
/* part3 */
.part3{
    height: 70vh;
    background-size: cover;
    background-position: left;
}
.part3 h2{
    position: static;
    /* top: 5vh;
    left: 10vw; */
}
.part3 .duk{
    width: 100%;
    height: 100%;
}
.part3 .text{
    position: relative;
    bottom: unset;
    top: -7vh;
    left: 5%;
    width: 85%;
    height: 25vh;
    padding: 5% 0;
    box-shadow: 0 5px 10px rgb(0 0 0 / 25%);
}
.part3 .text p{
    margin: 0% 5vw;
}
.part3 .text p:nth-of-type(1){
    display: none;
}
.part3 .text p:last-child{
    padding: 0;
}
.part3 .swiper-slide{
    flex-direction: column-reverse;
    /* justify-content: unset; */
}
.part3 .swiper-slide:before{
    display: none;
}
.part3 .duk .swiper-slide [class*="duk"]{
    width: 85%;
    height: 30vh;
    margin: 0 0 0 10vw;
}
.part3 .duk .swiper-slide [class*="duk"]:hover{
    background-size: 110%;
    transition:  all .5s;
}
.part3 .swiper-pagination {
    bottom: 3vh;
    left: unset;
    right: 0;
    width: 100%;
    font-size: 0.9rem;
}
/* part4 */
.part4{
    height: auto;
}
.part4 .e_box p:nth-of-type(1),
.part4 .event .swiper-slide-active .e_box p:first-child{
    display: none;
}
.part4 .event .swiper-slide-prev,
.part4 .event .swiper-slide-next{
    transform: scale(0.9);
}
.part4 .event .e_box div[class*="img"],
.part4 .event .e_box div[class*="img"]:hover{
    width: 100%;
    height:30vh;
    filter: unset;
    transform: none;
}
.part4 .event .swiper-slide-active p{
    font-size:0.8rem;
}
.part4 .event .swiper-slide-active h4{
    font-size: 1rem;
}
.part4 .event .swiper-slide-active {
    transform: scale(0.9);
}
.part4 .event .swiper-button-next,
.part4 .event .swiper-button-prev{
    top: 40%;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 2.5rem;
}
/* part5 */
section.part5{
    padding: 4vh;
}
.part5{
    height: 20vh;
    justify-content: space-around;
    align-items: flex-start;
}
.part5 p{
    font-size: 0.9rem;
}
.part5 div div[class*="icon"]{
    width: 80%;
    height:8vh;
    background-size: 100% auto;
}
/* part6 */
section.part6{
    padding: 10% 5%;
}
.part6{
    height: auto;
    flex-direction: column;
}
.part6 .up{
    display: none;
}
.part6 .up_m{
    display: block;
    width: 85vw;
    padding-bottom: 3vh;
}
.part6 .up_m .conBox{
    display: none;
}
.part6 .up_m .conBox.on{
    display: block;
}
.part6 .up_m ul{
    display: flex;
    margin-bottom: 2vh;
}
.part6 .up_m ul li a{
    font-family: 'ChosunCentennial';
    font-size: 1.6rem;
    margin-right: 5vw;
    padding: 1vh;
}
.part6 .up_m ul li.on{
    position: relative;
}
.part6 .up_m ul li::before{
    content: "";
    width: 0%;
    height: 2px;
    background: rgb(185 152 148);
    position: absolute;
    bottom: 0;
    left: 50%;
}
.part6 .up_m ul li.on:before{
    content: "";
    width: 80%;
    height: 2px;
    background: rgb(185 152 148);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .3s;
}
.part6 .up_m .conBox p{
    padding: 1vh 0;
    border-bottom:1px solid #d2d2d2;
    width: 100%;
    font-size: 1.2rem;
}
.part6 .up_m .conBox p a{
    display: flex;
    justify-content: space-between;
}
.part6 .up_m .conBox p a span:first-child{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    width: 70%;
}
.part6 .up_m .conBox p:last-of-type{
    border-bottom: none;
}
.part6 .down{
    display: none;
}
.part6 .down_m{
    display: block;
    height: 20vh;
}
.part6 .down_m .swiper{
    width: 80vw;
    height: 100%;
}
.part6 .down_m .banner3 .swiper-slide:nth-child(1){
    background: url(../image/duk_b1_1.jpeg) no-repeat;
    background-size:auto 100%;
    background-position: center;
}
.part6 .down_m .banner3 .swiper-slide:nth-child(2){
    background: url(../image/duk_b1_2.png) no-repeat;
    background-size:auto 100%;
    background-position: center;
}
.part6 .down_m .banner3 .swiper-slide:nth-child(3){
    background: url(../image/duk_b1_3.png) no-repeat;
    background-size:auto 100%;
    background-position: center;
}
.part6 .down_m .banner3 .swiper-slide:nth-child(4){
    background: url(../image/duk_b2_1.jpeg) no-repeat;
    background-size:auto 100%;
    background-position: center;
}
.part6 .down_m .banner3 .swiper-slide:nth-child(5){
    background: url(../image/duk_b2_2.jpeg) no-repeat;
    background-size:auto 100%;
    background-position: center;
}
.part6 .down_m .banner3 .swiper-slide:nth-child(6){
    background: url(../image/duk_b2_3.jpeg) no-repeat;
    background-size:auto 100%;
    background-position: center;
}
/* footer */
footer{
    height: auto;
    padding:5% 10%;
    flex-direction: column;
    align-items: center;
}
footer .logo{
    width: 40vw;
    height: 7vh;
}
footer > div:last-child{
    margin: 2vh 0;
    flex-basis: unset;
}
footer > div:last-child >div:first-child p:before{
    display: none;
}
footer div:first-child p{
    margin-right: 5px;
}
footer p{
    padding: 5px 0;
}