body{
    min-width: 640px;
}
html{
    font-size: 12px;
}
/* nav */
header{
    position: relative;
    height: auto;
    padding: 3%;
}
.nav{
    padding: 0;
}
.nav img:first-child {
    display: none;
}
.nav img:last-child {
    display: block;
    width: 40%;
}
.nav > ul{
    flex-direction: column;
    flex-basis: 100%;
    /* position: relative; */
}
.nav > ul> li{
    width: 100%;
}
.nav> ul > li> a:hover{
    color: unset;
}
.nav > ul> li >a{
    padding: 3% 0; 
    text-shadow: unset;
    color: #333;
    border-bottom: 1px solid #EEEDED;
}
.nav> ul > li:hover> a{
    color: unset;
    }
.nav > ul >li > .submenu{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: unset;
}
.nav > ul >li >.submenu > li > a{
    padding: 2% ;
    text-align: center;
    border-bottom: 1px solid #fff;
}
.nav > ul > li > .submenu > li:hover > a{
    color: 	unset;
    background: #fff6e2;
}
.nav > ul > li > .submenu > li{
    background: #EAE0DE;
}
.nav > ul > li > .submenu > li > a{
    background: #fff6e2;
}
.nav > ul .sub2_t:before{
    top: 1vh;
}
.nav > ul .sub2{
    position: relative;
    left: 0;
    width: 100%;
    box-shadow: unset;
}
.nav > ul .submenu .sub2 > li > a{
    padding: 2%;
    width: 100%;
    background: #fff;
    text-align: center;
}
.nav > ul .submenu .sub2 > li{
    background: #F6F6F6;
    border-bottom: 1px solid #EEEDED;
}
 .nav .menu_b{
    width: 5vw;
    height: 3vh;
    position: absolute;
    display: block;
    cursor: pointer;
    top: 4.5vh;
    right: 5%;
    z-index: 200;
}

.nav .menu_b span{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #333;
    border-radius: 4px;
    z-index: 100;
    transition: 0.3s;
    right: 0;
}
.nav.menu_b span:nth-child(1){
    top: 0;
}
.nav .menu_b span:nth-child(2){
    top: 50%;
}
.nav .menu_b span:nth-child(3){
    top: 100%;
}
.menu_b.on span:nth-child(1){
    top: 50%;
    transform: rotate(-45deg);
}
.menu_b.on span:nth-child(2){
    opacity: 0;
}
.menu_b.on span:nth-child(3){
    top: 50%;
    transform: rotate(45deg);
}
 .menu_b ~ ul{
    align-items: center;
    justify-content: unset ;
    padding-top: 10%;
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100vh;
    background: #fff;
    transition: 0.3s;
}
.menu_b.on ~ ul{
    right: 0;
} 
.nav .menu_b + ul::before{
    content: "";
    background: rgb(0 0 0 / 25%);
    width: 40%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -40%;
    z-index: -1;
    transition: .3s;
}
.nav .menu_b.on + ul::before{
    content: "";
    background: rgb(0 0 0 / 25%);
    width: 40%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 60%;
    z-index: -1;
}
.nav .menu_b + ul::after{
    content: "";
    background: rgb(0 0 0 / 25%);
    width: 100%;
    height: 20vh;
    position: fixed;
    top: 80vh;
    right: -100%;
    z-index: -1;
    transition: .3s;
}
section:not(.part1) {
    padding: 10%;
}
/* part1 */
.part1{
    height: 40vh;
}
.part1 > div:first-child{
    top: 7vh;
    left: 10vh;
}
/* part2 */
.part2{
    height: auto;
}
.part2 div:first-child {
    width: 45vw;
    height: 40vh;
}
/* part3 */
.part3{
    height: 80vh;
    background-size: cover;
}
.part3 .duk {
    width: 100%;
    height: 50vh;
}
.part3 .duk .swiper-slide [class*="duk"] {
    width: 60%;
}
.part3 .swiper-slide:before {
    width: 25vw;
    height: 2px;
    background: #535353;
    bottom: 9%;
    right: 20vw;
}
.part3 .text {
    left: 5%;
}
/* part4 */
.part4{
    height: auto;
}
.part4 h2{
    padding: 5% 0;
}
.part4 .e_box p:nth-of-type(1),
.part4 .event .swiper-slide-active .e_box p:first-child{
    display: none;
}
.part4 .event .swiper-slide-prev,
.part4 .event .swiper-slide-next{
    transform: scale(0.8);
}
.part4 .event .e_box div[class*="img"],
.part4 .event .e_box div[class*="img"]:hover{
    width: 100%;
    height:40vh;
}
.part4 .event .swiper-slide-active p{
    font-size:0.8rem;
}
.part4 .event .swiper-slide-active h4{
    font-size: 1rem;
}
.part4 .event .swiper-slide-active {
    transform: scale(1);
}
.part4 .event .swiper-button-next,
.part4 .event .swiper-button-prev{
    top: 40%;
}
.part4 .swiper-button-next:after,
.part4 .swiper-button-prev:after {
    font-size: 2.5rem;
}
.part4 .swiper-button-next{
    right: 5vw;
}
.part4 .swiper-button-prev {
    left: 5vw;
}
/* part5 */
.part5{
    height: auto;
}
section.part5{
    padding: 5% 10%;
}
/* part6 */
section.part6{
    padding: 10% 5%;
}
.part6{
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.part6 .up{
    display: none;
}
.part6 .up_m{
    display: block;
    width: 40vw;
}
.part6 .up_m .conBox{
    display: none;
}
.part6 .up_m .conBox.on{
    display: block;
}
.part6 .up_m ul{
    display: flex;
    margin-bottom: 2vh;
}
.part6 .up_m ul li a{
    font-family: 'ChosunCentennial';
    font-size: 1.3rem;
    margin-right: 5vw;
    padding: 1vh;
}
.part6 .up_m ul li.on{
    position: relative;
}
.part6 .up_m ul li::before{
    content: "";
    width: 0%;
    height: 2px;
    background: rgb(185 152 148);
    position: absolute;
    bottom: 0;
    left: 50%;
}
.part6 .up_m ul li.on:before{
    content: "";
    width: 80%;
    height: 2px;
    background: rgb(185 152 148);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .3s;
}
.part6 .up_m .conBox p{
    padding-bottom: 1vh;
    border-bottom:1px solid #d2d2d2;
    width: 100%;
}
.part6 .up_m .conBox p a{
    display: flex;
    justify-content: space-between;
}
.part6 .up_m .conBox p a span:first-child{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    width: 70%;
}
.part6 .up_m .conBox p:last-of-type{
    border-bottom: none;
}
.part6 .down{
    display: none;
}
.part6 .down_m{
    display: block;
    height: 20vh;
}
.part6 .down_m .swiper{
    height: 100%;
    width: 40vw;
}
.part6 .down_m .banner3 .swiper-slide:nth-child(1){
    background: url(../image/duk_b1_1.jpeg) no-repeat;
    background-size: 100% auto;
    background-position: center;
}
.part6 .down_m .banner3 .swiper-slide:nth-child(2){
    background: url(../image/duk_b1_2.png) no-repeat;
    background-size: 100% auto;
    background-position: center;
}
.part6 .down_m .banner3 .swiper-slide:nth-child(3){
    background: url(../image/duk_b1_3.png) no-repeat;
    background-size: 100% auto;
    background-position: center;
}
.part6 .down_m .banner3 .swiper-slide:nth-child(4){
    background: url(../image/duk_b2_1.jpeg) no-repeat;
    background-size: 100% auto;
    background-position: center;
}
.part6 .down_m .banner3 .swiper-slide:nth-child(5){
    background: url(../image/duk_b2_2.jpeg) no-repeat;
    background-size: 100% auto;
    background-position: center;
}
.part6 .down_m .banner3 .swiper-slide:nth-child(6){
    background: url(../image/duk_b2_3.jpeg) no-repeat;
    background-size: 100% auto;
    background-position: center;
}
/* footer */
footer{
    height: 20vh;
    padding: 5% 10%;
}
footer .logo {
    width: 20vw;
}
footer > div:last-child {
    flex-basis: 60%;
}