body {
    min-width: 640px;
}
*{
    font-size: 14px;
}
/* nav */
#nav ul {
    width: 70%;
}
/* part1 */
.part1 .p1 .cha {
    background-size: 100% auto;
    width: 40%;
    margin-left: 5%;
}
.part1 .p1 .logo {
    width: 75%;
    margin: 0 10%;
}
/* part2 */
.part2 .tab1 > ul li {
    padding: 10% 0;
}
.part2 .tab1 {
    width: 90%;
    padding: 5% 0px;
}
.part2 .tab1 .content {
    width: 80%;
    margin: 0 5%;
}
.part2 p{
    font-size: 1rem;
}
.part2 .tab1 .conBox .tab2 .p2_box p {
    font-size: 1.1rem;
}
/* part3 */
.part3 ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 5% 10%;
}
.part3 .cha{
    display: flex;
    flex-direction: column-reverse;
}
.part3 ul li,
.part3 li.on, .part3 li:hover{
    padding-top: 10%;
    margin: 0;
    width: 10%;
}
.part3 .cha .content .main:nth-child(1) .img {
    background-size: 100% auto;
    margin: 0 5%;
}
.part3 .cha .content .main:nth-child(2) .img {
    background-size: 100% auto;
    width: 35%;
    margin-left: 0;
    margin: 0 5%;
}
.part3 .cha .content .main:nth-child(3) .img {
    background-size: 100% auto;
    width: 40%;
}
.part3 .cha .content .other .text {
    width: 55%;
}
.part3 .cha .content #chr5.on > div {
    width: 45%;
}
.part3 .cha .content .main#chr2 > div {
    justify-content: flex-start;
}
.part3 .cha .content .main > div >div {
    justify-content: space-around;
}
.part3 .cha .content .main .img_box {
    height: 15vh;
}
/* part4 */
.part4 .w_box{
    flex-direction: column;
    height: 75vh;
    margin-top: 5%;
}
.part4 .w_box > .w_t.on,
.part4 .w_box > .w_t {
    width: 100%;
    padding: 2%;
}
.part4 h3 {
    padding: 3%;
}
.part4 .w_box > .w_t h3{
    writing-mode: unset;
    text-orientation: unset;
}
/* part5 */
.part5 .swiper {
    height: 40vh;
}
.part5 .gallery .swiper-slide{
    transform: scale(0.5);
}
.part5 .gallery .swiper-slide-active {
    transform: scale(1.3);
}
