body {
    min-width: 640px;
}
*{
    font-size: 13px;
}
/* nav */
header{
    height: auto;
}
header::before{
    height: 45vh;
}
header::after{
    bottom: 15%;
    height: 20vh;
}
header .nav{
    height: auto;
    justify-content: space-between;
}
header .nav>a {
    margin: 2% 0 0 2%;
}
header .nav img{
    width: 70%;
    height: auto;
}
header .nav .menu> ul{
    flex-direction: column;
}
header .nav .menu{
    width: 5vw;
    height: 5vh;
    margin-right: 2%;
    margin-top: 2%;
    display: flex;
}
header .nav .menu > ul{
    align-items: center;
    justify-content:center ;
    padding-top: 0%;
    position: fixed;
    /* width: 100%; */
    width: 70%;
    height: 100vh;
}
.products>.tabs>ul {
    left: -10%;
}
header .nav .menu > ul > li{
    width: 80%;
}
.products>.tabs>ul>li:first-child {
    font-size: 1.2rem;
}
header .nav .menu > ul > li > a{
    color: #fff;
    font-size: 3rem;
    padding: 2% 0;
}
header .nav .submenu {
    position: relative;
    width: 100%;
    border-radius: 0px;
    box-shadow: 0 ;
}
header .nav .submenu > li > a{
    padding: 2% 0;
}
/* m_mobile button */
.menu .menu_b{
    width: 4vw;
    height: 3vh;
    position: relative;
    display: block;
    cursor: pointer;
}
.menu .menu_b.on{
    position: fixed;
    z-index: 50
}
.menu .menu_b span{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #653e00;
    border-radius: 4px;
    z-index: 100;
    transition: 0.3s;
    right: 0;
}
.menu .menu_b.on span{
    background: rgba(255,255,255,0.7)
}
.menu .menu_b span:nth-child(1){
    top: 0;
}
.menu .menu_b span:nth-child(2){
    top: 50%;
}
.menu .menu_b span:nth-child(3){
    top: 100%;
}
.menu_b.on span:nth-child(1){
    top: 50%;
    transform: rotate(-45deg);
}
.menu_b.on span:nth-child(2){
    opacity: 0;
}
.menu_b.on span:nth-child(3){
    top: 50%;
    transform: rotate(45deg);
}

.menu_b ~ ul{
    align-items: center;
    justify-content:center ;
    padding-top: 15%;
    position: fixed;
    top: 0;
    right: 0;
    right: -100%;
    width: 100%;
    height: 80vh;
    /* background: #5d5d5d; */
    background: #002D19;
    transition: 0.3s;
}
.menu_b.on ~ ul{
    right: 0;
}
header .nav .menu .menu_b ~ ul::before{
    content: "";
    width: 30%;
    height: 100vh;
    position: fixed;
    top: 0;
    right:68%;
    background: rgba(0,0,0,0.7);
    opacity: 0;
}
header .nav .menu .menu_b.on ~ ul::before{
    opacity: 1;
    right: 70%;
    transition: 0.25s;
    transition-delay: 0.2s;
}
/* products */
.pro_{
    height: 100vh;
}
.products > .tabs > .conbox .swiper-slide{
    margin-top: 5%;
}
.products > .tabs > .conbox > div:first-child .swiper-slide > img{
   height: 33vh;
}
.products>.tabs>.conbox>div:first-child .swiper-slide:hover>img {
    height: 35vh;
    transition: unset;
}
.products > .tabs > .conbox > div:last-child .swiper-slide > img{
    height: 10vh;
}
.products > .tabs > .conbox > div:last-child{
    height: 20vh;
}
.products > .tabs > .conbox .tbox{
    width: 50%;
    height: 55vh;
    margin: 0 5% 0 10%;
}
.products>.tabs>.conbox .tbox>table {
    width: 100%;
}
.products>.tabs>ul>li:first-child::after{
    width: 130%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -15%;
    z-index: -1;
}
.products .conbox .swiper.newproduct2,
.products .conbox div[class*="product2"]{
    margin: 0 5%;
    position: relative;
}
.products .conbox .swiper.newproduct2::after,
.products .conbox div[class*="product2"]::after{
    width: 40vw;
}
.products>.tabs>#con1:before,
.products>.tabs>#con2:before,
.products>.tabs>#con3:before,
.products>.tabs>#con4:before,
.products>.tabs>#con5:before{
    
    height: 20vh;
}
.products>.tabs>#con2:before{
    height: 25vh;
}