body {
    min-width: 640px;
}
*{
    font-size: 13px;
}
/* nav */
header{
    height: 25vh;
}
header::before{
    height: 45vh;
}
header::after{
    bottom: 15%;
    height: 20vh;
}
header .nav{
    height: auto;
}
header .nav > a {
    margin: 2% 0 0 2%;
}
header .nav img{
    width: 70%;
    height: auto;
}
header .nav .menu> ul{
    flex-direction: column;
}
header .nav .menu{
    width: 5vw;
    height: 5vh;
    margin-right: 2%;
    margin-top: 2%;
    display: flex;
}
header .nav .menu > ul{
    align-items: center;
    justify-content:center ;
    padding-top: 0%;
    position: fixed;
    width: 70%;
    height: 100vh;
}
header .nav .menu > ul > li{
    width: 80%;
}
header .nav .menu > ul > li > a {
    font-size: 3rem;
    padding: 2%0;
}
header .nav .submenu {
    position: relative;
    width: 100%;
    border-radius: 0px;
    box-shadow: 0 ;
}
header .nav .submenu > li > a{
    padding: 2% 0;
}
/* m_mobile button */
.menu .menu_b{
    width: 4vw;
    height: 3vh;
    position: relative;
    display: block;
    cursor: pointer;
}
.menu .menu_b.on{
    position: fixed;
    z-index: 50
}
.menu .menu_b span{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    z-index: 100;
    transition: 0.3s;
    right: 0;

}
.menu .menu_b span:nth-child(1){
    top: 0;
}
.menu .menu_b span:nth-child(2){
    top: 50%;
}
.menu .menu_b span:nth-child(3){
    top: 100%;
}
.menu_b.on span:nth-child(1){
    top: 50%;
    transform: rotate(-45deg);
}
.menu_b.on span:nth-child(2){
    opacity: 0;
}
.menu_b.on span:nth-child(3){
    top: 50%;
    transform: rotate(45deg);
}
.menu_b ~ ul{
    align-items: center;
    justify-content:center ;
    padding-top: 15%;
    position: fixed;
    top: 0;
    right: 0;
    right: -100%;
    width: 100%;
    height: 80vh;
    /* background: #5d5d5d; */
    background: #002D19;
    transition: 0.3s;
}
.menu_b.on ~ ul{
    right: 0;
}

header .nav .menu .menu_b ~ ul::before{
    content: "";
    width: 30%;
    height: 100vh;
    position: fixed;
    top: 0;
    right:68%;
    background: rgba(0,0,0,0.7);
    opacity: 0;
}
header .nav .menu .menu_b.on ~ ul::before{
    opacity: 1;
    right: 70%;
    transition: 0.25s;
    transition-delay: 0.2s;
}

/* part1 */
.part1 .color{
    width: 80%;
}
.part1 .color .green,
.part1 .color .gold,
.part1 .color .orange,
.part1 .color .ivory{
    width: 20%;
}
.part1 .color .green > div,
.part1 .color .gold> div,
.part1 .color .orange > div,
.part1 .color .ivory > div{
    width: 100%;
    height: 12vh;
}

/* part2 */
.part2 > .p2 > div{
    height: auto;
    padding: 5% 0;
    margin: 0;
}
.part2 .p2 .p2-1 > .img {
    /* width: 100%; */
    height: 0;
    padding-top: calc(300/800*100%);
}
.part2 .p2 .p2-2 .img > .img_1 {
    height: 0;
    padding-top: calc(640/1200*100%);
}
.part2 .p2 .p2-2 .img .img_2 {
    height: 0;
    padding-top: calc(640/1000*100%);
}
.part2 .p2 .p2-3 .img {
    height: 0;
    padding-top: calc(425/1300*100%);
}
.part2 .p2 .p2-4 .img{
    height: 0;
    padding-top: calc(425/1200*100%);
}
.part2 .p2 .p2-5 .img1 {
    height: 0;
    padding-top: calc(300/500*100%);
}
.part2 .p2 .p2-5 .img2 {
    height: 0;
    padding-top: calc(341/610*100%);
    margin-top: 5%;
}
.part2 .p2 .p2-5 .img3 {
    height: 0;
    padding-top: calc(800/1200*100%);
}
.part2 .p2 .p2-5 .img4 {
    height: 0;
    padding-top: calc(318/600*100%);
}