@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CookieRunOTF-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Shiningstar';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    /* border: 1px solid darkgray; */
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif; 
    font-size: 1rem;
}
a{
    display: block;
    color: #000;
}
a:visited{
    text-decoration: none;
    color: #000;
}

/* nav */

header{
    display: flex;
    flex-direction: column;
    height: 350px;
    position: relative;
    background: url(../image/sub_bg.png) no-repeat;
    background-size: cover;
    background-position: 0% 50%;
} 
header .nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 30;
}
header .nav > a {
    margin: 30px;
}
header .nav img{
    width: 200px;
    height: auto;
}
header .nav .menu{
    width: 650px;
    margin-right: 20%;
    margin-top: 30px;
}
header .nav .menu >ul{
    display: flex;
    justify-content: space-between;
    position: relative;
}
header .nav .menu > ul > li{
    width: 150px;
    text-align: center;
}
header .nav .menu > ul > li:hover > a{
    color: #f26a26;
}
header .nav .menu > ul > li > a{
    font-family: "Cafe24Shiningstar";
    font-size: 2.3rem;
    display: block;
    color: #fff;
}
header .nav .submenu {
    position: absolute;
    width: 150px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.3) ;
}
header .nav .submenu > li > a{
    font-size: 0.9rem;
    /* color: #fff; */
    display: block;
   padding: 10% 0;
}
header .nav .submenu > li:hover > a{
    color: #f26a26;
}
header .nav .submenu{
    display: none;
}
h1{
    font-family: "CookieRun-Regular";
    color: #faa806;
    padding: 3% 0;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 3px;
}

/* part1 */

.part1 {
    width: 80%;
    margin: 0 auto;
}
h2 {
    font-family: "CookieRun-Regular";
    color: #157152;
    font-size: 1.8rem;
    text-align: center;
    margin: 5% 0;
}
.part1 > .logo{
    width: 45%;
    margin: 0 auto;
}
.part1 > .logo > img{
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.part1 > .logo > p{
    font-size: 0.8rem;
    text-align: center;
    margin: 5% 0;
}
.part1 > .color{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    padding: 5% 0;
}
.part1 .color p{
    font-size: 0.8rem;
    margin: 10% 0;
}
.part1 .color .green > div{
    width: 150px;
    height: 100px;
    background: #074c43;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.part1 .color .gold> div{
    width: 150px;
    height: 100px;
    background: #ba835a;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.part1 .color .orange > div{
    width: 150px;
    height: 100px;
    background: #f26a25;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.part1 .color .ivory > div{
    width: 150px;
    height: 100px;
    background: #f1e2b4;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* part2 */
 .part2 .bg {
    background: url(../image/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    margin: 5% 0;
}
 .part2 > .bg > p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 5% 0;
    font-family: 'CookieRun-Regular';
}
 .part2 .p2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 5% 0;
}
.part2 > .p2 > div{
    height: auto;
    margin: 5% 0;
}
.part2 > .p2 > div:last-child{
    margin: 10% 0;
}
 .part2 .p2 h3 {
    font-size: 1.1rem;
    padding: 5% 0px;
    word-break: keep-all;
}
 .part2 .p2 p {
    font-size: 0.8rem;
    word-break: keep-all;
    padding: 2% 0;
}
 .part2 .p2 span {
    color: #f26a25;
    font-size: 1.8rem;
    font-family: "Cafe24Shiningstar";
}
 .part2 .p2 .p2-1{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.part2 .p2 .img{
    width: 40%;
}
.part2 .p2 .tbox{
    width: 50%;
}
 .part2 .p2 .p2-1 > .img {
    background: url(../image/s1.gif) no-repeat;
    background-size: cover;
    background-position: center;
}
 .part2 .p2 .p2-1::after {
    content: "";
    width: 44%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: #f2d3a3;
    top: -10%;
    left: -10%;
}
 .part2 .p2 .p2-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    position: relative;
}
 .part2 .p2 .p2-2 .img {
    display: flex;
    justify-content: space-between;
    position: relative;
}
 .part2 .p2 .p2-2 .img > .img_1 {
    background: url(../image/s2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 70%;
    height: 250px;
    position: absolute;
    bottom: -10%;
    left: -5%;
}
 .part2 .p2 .p2-2 .img .img_2 {
    background: url(../image/s3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 55%;
    height: 210px;
    position: absolute;
    top: -10%;
    right: -25%;
}
 .part2 .p2 .p2-2 .imgbox::after {
    content: "";
    width: 50%;
    height: 315px;
    background: #f2d3a3;
    position: absolute;
    z-index: -1;
    top: -60px;
    right: 0px;
}
 .part2 .p2 .p2-3 {
    display: flex;
    justify-content: space-around;
}
 .part2 .p2 .p2-3 .img {
    background: url(../image/s4.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
 .part2 .p2 .p2-4 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    position: relative;
}
 .part2 .p2 .p2-4 .img {
    background: url(../image/s5.gif) no-repeat;
    background-size: cover;
    background-position: center;
}
 .part2 .p2 .p2-4::after {
    content: "";
    width: 60%;
    height: 115%;
    position: absolute;
    z-index: -1;
    top: -7%;
    left: 0%;
    background: #f2d3a3;
}
 .part2 .p2 .p2-5 {
    display: flex;
    justify-content: space-around;
    position: relative;
}
 .part2 .p2 .p2-5 .img {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
 .part2 .p2 .p2-5 .img1 {
    background: url(../image/s6.png) no-repeat;
    background-size: cover;
    background-position: center;
    /* position: absolute; */
    width: 40%;
    height: 200px;
    /* top: -15%;
    left: -20%; */
    position: relative;
    margin-right: 5%;
}
 .part2 .p2 .p2-5 .img2 {
    background: url(../image/s7.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    /* position: absolute; */
    position: relative;
    width: 50%;
    height: 220px;
    /* top: -22%;
    right: -7%; */
}
 .part2 .p2 .p2-5 .img3 {
    background: url(../image/s8.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 180px;
    position: relative;
    /* position: absolute;
    bottom: -18%;
    left: -25%; */
    margin-right: 5%;
    margin-top:5%;
}
 .part2 .p2 .p2-5 .img4 {
    background: url(../image/s9.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 200px;
    position: relative;
    /* position: absolute;
    right: 0;
    bottom: -25%; */
    margin-top: 5%;
}
 .part2 .p2 .p2-5::after {
    content: "";
    width: 53%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0px;
    background: #f2d3a3;
}
.part2 .p2 .p2-5 .tbox{
    margin-top: 10%;
}