.is-ie .clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.is-ie .part2 .tab .swiper-container .c1box.c1::after{
    left: 7%;
}
.is-ie .part2 .tab .swiper-container .c1box .tbox.t1::after{
    right: -5%;
}
.is-ie .part2 .tab .swiper-container .c1box .tbox.t1{
    margin-left: 20%;
}